.chart__content{
    align-self: flex-start;
    font-weight: 600;
    margin-left: 25px;
}
.chart_analytic__wrapper{
    display: flex;
    flex-direction: column;
    padding: 23px 0 12px 0;
    text-transform: uppercase;
}