.chart__content{
    text-align:center;
    font-size: 11.5px;
    font-weight: 600;
}
.chart_analytic__wrapper{
    display: flex;
    flex-direction: column;
    padding: 23px 0 12px 0;
    text-transform: uppercase;
}