@font-face {
    font-family: "Gotham Book";
    src: url("fonts/Gotham-Book.otf") format("opentype");
}
@font-face {
    font-family: "Gotham-Bold";
    src: url("fonts/Gotham-Bold.otf") format("opentype");
}
@font-face {
    font-family: "Gotham-Medium";
    src: url("fonts/Gotham-Medium.otf") format("opentype");
}
@font-face {
    font-family: "Gotham-Thin";
    src: url("fonts/Gotham-Thin.otf") format("opentype");
}
.pos-relative{
    position: relative;
}
.adminPanelWrapper{
    display: grid;
    grid-template-columns: 265px 1fr;
}
.contentWrapper{
    padding: 40px 45px;
    font-family: 'Gotham-Medium', sans-serif;
}

.blueColor{
    color: #2f9dfb;
}

.editor_textarea{
    background: #ffffff;
    cursor: text;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    min-height: 200px;
    padding: 0 10px;
}
.toolbarClassName{
    background: #d7d8d7 !important;
}
.rdw-option-wrapper, .rdw-dropdown-wrapper{
    box-sizing: content-box;
}