@font-face {
    font-family: "Gotham Book";
    src: url("fonts/Gotham-Book.otf") format("opentype");
}
@font-face {
    font-family: "Gotham-Bold";
    src: url("fonts/Gotham-Bold.otf") format("opentype");
}
@font-face {
    font-family: "Gotham-Medium";
    src: url("fonts/Gotham-Medium.otf") format("opentype");
}
@font-face {
    font-family: "Gotham-Thin";
    src: url("fonts/Gotham-Thin.otf") format("opentype");
}
.pos-relative{
    position: relative;
}
.adminPanelWrapper{
    display: grid;
    grid-template-columns: 265px 1fr;
}
.contentWrapper{
    padding: 40px 45px;
    font-family: 'Gotham-Medium', sans-serif;
}

.blueColor{
    color: #2f9dfb;
}

.editor_textarea{
    background: #ffffff;
    cursor: text;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    min-height: 200px;
    padding: 0 10px;
}
.toolbarClassName{
    background: #d7d8d7 !important;
}
.rdw-option-wrapper, .rdw-dropdown-wrapper{
    box-sizing: content-box;
}

.notLoggedInWrapper{
    background: linear-gradient(to bottom, #5D7193, #121E34);
    min-height: 100vh;
}

.fullWidth{
    width: 100%;
}
.error{
    color: red !important;
}
.logout{
     color: #f86969 !important;
 }
.mainPreloaderWrapper {
    height: 100vh;
}
.preloaderWrapper{
    height: calc(100vh - 80px);
}
.bodyText{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    color: rgba(0,0,0,0.6);
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.action__wrapper{
    transition: all 0.25s linear;
    opacity: 0;
    visibility: hidden;
}
.medium{
    font-family: 'Gotham-Medium', sans-serif;
}
.save__wrapper{
    font-family: 'Gotham Book', sans-serif;
}
.step__wrapper{
    margin: 10px 0;
}
.step__number{
    font-weight: 700;
    color: black;
}
.body__container{
    margin-top: 3px;
    background: #eeeded;
    padding: 15px 10px;
    border: 1px solid #121e34;
    border-radius: 2px 2px  0 0;
}
.removeImageUploader{
    display: none !important;
}