@font-face {
    font-family: "Gotham Book";
    src: url("fonts/Gotham-Book.otf") format("opentype");
}
@font-face {
    font-family: "Gotham-Bold";
    src: url("fonts/Gotham-Bold.otf") format("opentype");
}
@font-face {
    font-family: "Gotham-Medium";
    src: url("fonts/Gotham-Medium.otf") format("opentype");
}
@font-face {
    font-family: "Gotham-Thin";
    src: url("fonts/Gotham-Thin.otf") format("opentype");
}
.pos-relative{
    position: relative;
}
.adminPanelWrapper{
    display: grid;
    grid-template-columns: 265px 1fr;
}
.contentWrapper{
    padding: 40px 45px;
    font-family: 'Gotham-Medium', sans-serif;
}

.blueColor{
    color: #2f9dfb;
}
.fz21{
    font-size: 21px !important;
}
.fz30{
    font-size: 30px !important;
}
.editor_textarea{
    background: #ffffff;
    cursor: text;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    min-height: 200px;
    padding: 0 10px;
}
.toolbarClassName{
    background: #d7d8d7 !important;
}
.rdw-option-wrapper, .rdw-dropdown-wrapper{
    box-sizing: content-box;
}

.notLoggedInWrapper{
    background: linear-gradient(to bottom, #5D7193, #121E34);
    min-height: 100vh;
}

.fullWidth{
    width: 100%;
}
.error{
    color: red !important;
}
.logout{
     color: #f86969 !important;
 }
.mainPreloaderWrapper {
    height: 100vh;
}
.preloaderWrapper{
    height: calc(100vh - 80px);
}
.bodyText{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    color: rgba(0,0,0,0.6);
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.action__wrapper{
    transition: all 0.25s linear;
    opacity: 0;
    visibility: hidden;
}

/*.actions_wrapper{*/
/*    opacity: 0;*/
/*    visibility: hidden;*/
/*}*/


.medium{
    font-family: 'Gotham-Medium', sans-serif;
}
.body__container{
    margin-top: 3px;
    background: #eeeded;
    padding: 15px 10px;
    border: 1px solid #121e34;
    border-radius: 2px 2px  0 0;
}
.removeImageUploader{
    display: none !important;
}
.center{
    text-align: center;
}
.left{
    text-align: left;
}
.right{
    text-align: right;
}

.modalTitle {
    text-align: center;
    font-size: 20px;
    font-family: 'Gotham-Bold', sans-serif;
    letter-spacing: 1px;
    color: black;
}
.modal-form-wrapper>form{
    display: flex;
    flex-direction: column;
}
.modal-input{
    max-width: 100%;
    font-size: 16px;
    font-family: 'Gotham Book', sans-serif;
    padding: 3px 0 3px 5px;
    margin: 10px 0;
    border: 1px solid rgba(0,0,0,0.5);
}
.use-app{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}
.use-app>span{
    font-size: 14px;
    font-family: 'Gotham Book', sans-serif;
}
.use-app>select{
    border: 1px solid rgba(0,0,0,0.5);
    font-size: 16px;
    padding: 5px 10px;
}
.modal-submit:hover{
    color: #feff04;
    background: #1c1c1c;
}
.modal-submit{
    transition: all 0.7s linear;
    border: 2px solid #000000;
    text-transform: uppercase;
    color: black;
    font-size: 20px;
    font-family: 'Gotham-Bold', sans-serif;
    padding: 8px 13px;
    background: none;
    width: 230px;
    margin: 10px auto 0 auto;
    cursor: pointer;
    border-radius: 10px;
}
.modal-submit:focus{
    outline: none;
}
.modalMainWrapper{
    padding: 50px 30px 20px 30px;
}
.closeModalBtn{
    cursor: pointer;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 20px;
    right: 20px;
}
.closeModalBtn>img{
    width: 100%;
}
.errorInput{
    border: 2px solid rgba(255, 18, 18, 0.5);
    color: rgba(255, 18, 18, 0.5);
}
.errorInput::placeholder { /* Internet Explorer 10-11 */
    color: rgba(255, 18, 18, 0.5);
}
.modal-form-wrapper>.description{
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    font-family: 'Gotham Book', sans-serif;
    line-height: 30px;
    margin-bottom: 35px;
}
.loginFormWrapper>form{
    padding: 0 50px;
}
.loginFormWrapper>form>input{
    padding-top: 8px;
    padding-bottom: 8px;
}
.modal-two-buttons-wrapper{
    display: flex;
}
.modal-two-buttons-wrapper>button{
    margin: 10px;
}
.black{
    color: black;
}
.d-none{
    display: none;
}
.c_pointer{
    cursor: pointer;
}